---
import Control from "../components/Control.tsx"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Control</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/global.css" />
    <link rel="stylesheet" href="/style/home.css" />
  </head>
  <body>
    <header>
        <img src="/assets/logo.svg" height="30rem" alt="Control logo" />
    </header>
    <main>
      <Control client:load />
    </main>
    <footer>&copy;&nbsp;2021 Hy Sothyrith</footer>
  </body>
</html>
